#about {
  margin-top: 100px;
  h2 {
    text-align: center;
    color: var(--theme-primary-color);
    max-inline-size: revert;
    margin-bottom: 50px;
  }
  h4 {
    max-inline-size: revert;
  }
}

#teams, #organizers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  gap: 20px;
  height: auto;
  margin: 200px auto;
  color: var(--theme-primary-color);
  > h2 {
    margin-bottom: 30px;
  }
  > .teams, .organizers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    > .card {
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      img {
        width: 100%;
        max-width: 225px;
        height: auto;
        object-fit: cover;
        object-position: top;
        border-radius: 4px;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 225px;
        padding: 8px;
        h4 {
          text-align: center;
        }
        p {
          opacity: 0.7;
          text-align: center;
        }
      }
    }
  }
}

#president-address {
  margin-top: 100px;
  h2 {
    text-align: center;
    color: var(--theme-primary-color);
    max-inline-size: revert;
    margin-bottom: 50px;
  }
  h4 {
    max-inline-size: revert;
    .name {
      color: var(--theme-primary-color);
    }
  }
  > img {
    width: 200px;
    height: auto;
    border-radius: 4px;
  }
}

a.team-logo{
  color: var(--theme-primary-color);
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-center {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  padding-inline: 10px;
  box-sizing: border-box;
}

.inner-layout-width {
  width: 100%;
  max-width: 926px;
  margin-top: 32px;
}

.primary-text-color {
  color: var(--theme-primary-color);
}

.sub-text {
  font-size: 20px;
}
