:root {
  --content-font: 'Inter', sans-serif;
  --theme-primary-color: #011222;
  --theme-secondary-color: #E9BA24;
  --button-padding: 12px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--content-font);
  background-color: white;
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--button-padding);
  background: var(--theme-primary-color);
  a {
    color: white;
  }
  nav {
    display: flex;
    gap: 8px;
  }
}

h3 > #head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: clamp(1.3rem, 2.5vw, 2.5rem);
}

a.button {
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-primary-colorj);
  color: var(--theme-secondary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: var(--button-padding);

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

.banner {
  width: 100%;
  height: 560px;
  object-fit: cover;
  object-position: bottom;
}

.parent {
  display: grid;
  grid-template-columns: 1fr min(120ch, calc(100% - 16px)) 1fr;
  grid-column-gap: 8px;
  place-items: center;
}

.parent > * {
  grid-column: 2;
}

.full-width {
  grid-column: 1 / -1;
  width: 100%;
  justify-self: stretch;
}

.team-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  color: var(--theme-secondary-color);
  background-color: var(--theme-primary-color);
  border-top: 4px solid var(--theme-secondary-color);
  border-radius: 12px;
  padding: 20px;
  div {
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    img {
      width: 120px;
      height: 120px;
      border-radius: 12px;
    }
    .logo {
      width: 120px;
      height: 120px;
    }
  }
  .logo-div {
    justify-content: center;
  }
  h4 {
    text-align: center;
  }
}

.team-players {
  color: var(--theme-primary-color);
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #011222;
  color: white;
}

h3 {
  max-inline-size: 100%;
}

.parent {
  margin-top: 30px;
}

