<section class="hero-section">
  <h1 class="hero-title">Experience The Thrill</h1>
  <p class="hero-subtitle">
  Don't miss a single moment of cricket action. Get live scores,
  match highlights, and exclusive content.
  </p>
  <a href="/fixtures" class="cta-button">
    <img src="assets/playbutton.svg" alt="play">
    Check Fixtures
  </a>
</section>
<section class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <div class="brand-logo">
        <img width="48" height="100%" src="assets/logo.png" alt="Tournament logo">
        <div>
          <div class="brand-title">GPL</div>
          <div class="brand-subtitle">Ganiga Premier League</div>
        </div>
      </div>
      <p class="brand-description">
      Where Unity Plays First
      </p>
      <div class="social-links">
        <a href="#" class="social-link">
          <img width="20" height="20" src="assets/facebook.svg" alt="facebook">
        </a>
        <a href="#" class="social-link">
          <img width="20" height="20" src="assets/twitter.svg" alt="X">
        </a>
        <a href="#" class="social-link">
          <img width="20" height="20" src="assets/instagram.svg" alt="instagram">
        </a>
        <a href="#" class="social-link">
          <img width="20" height="20" src="assets/youtube.svg" alt="youtube">
        </a>
      </div>
    </div>
    <div class="footer-column">
      <h3>Tournament</h3>
      <ul class="footer-links">
        <li><a href="/#teams-section">Teams</a></li>
        <li><a href="/fixtures">Schedule</a></li>
        <li><a href="#">Points Table</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="#">Statistics</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Quick Links</h3>
      <ul class="footer-links">
        <li><a href="#">News</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Sponsors</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contact Info</h3>
      <ul class="contact-info">
        <li>
          <img src="assets/location.svg" alt="location">
          <span>Philomena Ground, Puttur</span>
        </li>
        <li>
          <img src="assets/phone.svg" alt="phone">
          <a class="contact-details" href="tel:+919449567660">+91 94495 67660</a>
        </li>
        <li>
          <img src="assets/mail.svg" alt="email">
          <a class="contact-details" href="mailto:gpldkjgsssmangaluru@gmail.com">gpldkjgsssmangaluru@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<p class="bottom-text">
&copy; 2025 Dakshina Kannada Zilla Ganiga Samaja Seva Sangha® Mangaluru. All rights reserved. <br /> Built with ❤️ by <a target="_blank" href="https://arivugg.com"><span class="arivugg">Arivu.GG</span></a>.
</p>
