:root {
  --content-font: 'Inter', sans-serif;
  --theme-primary-color: #011222;
  --theme-secondary-color: #E9BA24;
  --button-padding: 12px;
}

* {
  box-sizing: border-box;
}

body {
 font-family: var(--content-font);
 background-color: var(--theme-secondary-color);
 margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--button-padding);
  background: var(--theme-primary-color);
  nav {
    display: flex;
    gap: 8px;
  }
}

h3 > #head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

a.button {
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-primary-color);
  color: var(--theme-secondary-color);
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: var(--button-padding);

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

.banner {
  width: 100%;
  height: 560px;
  object-fit: cover;
}


.parent {
  display: grid;
  grid-template-columns: 1fr min(120ch, calc(100% - 16px)) 1fr;
  grid-column-gap: 8px;
  place-items: center;
}

.parent > * {
  grid-column: 2;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: white;
}
